<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= siteData.siteName %> Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <% if (message.length > 0) { %>
    <h1><%= message %></h1>
    <meta http-equiv="refresh" content="3;url=<%= basePath %>/" />
    <% } else { %>
    <div class="card">
      <h1>Login Form</h1>
      <% if (error) { %>
      <div class="error"><%= error %></div>
      <% } %>
      <form action="login" method="POST">
        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          value="<%= data && data.username ? data.username : '' %>"
          required
        />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Submit</button>
      </form>
      <p>
        Don’t have an account?
        <a href="<%= basePath %>/register">Register here</a>
      </p>
      <button  id="go-back-btn" onclick="window.location.href='<%= basePath %>/'">Go Back</button>
    </div>
    <% } %>
  </body>
</html>
