<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist Details</title>
  <link rel="stylesheet"  type="text/css" href="/main.css" />
  <link rel="stylesheet" type="text/css" href="/table.css" />
</head>
<body>
  <% if (noSongs) { %>
    <h1 style="color: white;">No songs added yet.</h1>
  <% } else { %>
    <h1><%= playlist[0].playlist_name %></h1>
    <table>
      <thead>
        <tr>
          <th>Song Name</th>
          <th>Artist</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% playlist.forEach((song) => { %>
          <tr>
            <td><%= song.song_name %></td>
            <td><%= song.song_artist %></td>
            <td>
              <form action="/playlists/remove_song/<%= song.id %>/<%= song.song_name %>" method="get">
                <button type="submit" class="remove-button">Remove</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
  <button id="go-back-btn">Go Back</button>
  <script src="/back.js"></script>
</body>
</html>
