<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track List</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/table.css" />
  </head>
  <body>
    <h1>Track List</h1>

    <!-- Search Bar -->
    <form method="GET" action="/api/search">
      <input type="text" name="query" placeholder="Search for song, artist, or album" />
      <select name="filter">
        <option value="song">Song</option>
        <option value="artist">Artist</option>
      </select>
      <button type="submit">Search</button>
    </form>

    <!-- Track Table -->
    <table>
      <thead>
        <tr>
          <th style="width: 200px">Album Cover</th>
          <th style="width: 300px">Track Name</th>
          <th style="width: 200px">Artist</th>
          <th style="width: 400px">Preview</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop over tracks -->
        <% tracks.forEach((track) => { %>
        <tr>
          <td>
            <% if (track.albumCover) { %>
            <img src="<%= track.albumCover %>" alt="Album Cover" style="width: 50px; height: 50px" />
            <% } else { %>
            <img src="/placeholder.png" alt="Placeholder Image" style="width: 50px; height: 50px" />
            <% } %>
          </td>
          <td><%= track.name %></td>
          <td><%= track.artist.name %></td>
          <td>
            <% if (track.preview) { %>
            <audio controls>
              <source src="<%= track.preview %>" type="audio/mpeg" />
              <i>Your browser does not support the audio element.</i>
            </audio>
            <% } else { %>
            <p>No preview available</p>
            <% } %>
          </td>
          <td>
            <div class="button-container">
              <!-- Button to open playlist box -->
              <button type="button" onclick="showplaylistBox('<%= track.name %>', '<%= track.artist.name %>')">Add to Playlist</button>
              <form method="POST" action="/playlists/like_song">
                <input type="hidden" name="song_name" value="<%= track.name %>">
                <input type="hidden" name="artist_name" value="<%= track.artist.name %>">
                <button type="submit">Like Song</button>
              </form>
            </div>
          </td>
        </tr>
        <% }); %> <!-- End of track loop -->
      </tbody>
    </table>

    <!-- Playlist Box -->
    <div id="playlistBox" style="display: none;">
      <h2>Select Playlist</h2>
      <div id="playlistContainer">
        <% if (playlists.length > 0) { %>
        <ul>
          <!-- Loop over playlists and create form for each -->
          <% playlists.forEach((playlist) => { %>
          <li>
            <form method="POST" action="/playlists/add_song/<%= playlist.id %>" class="playlist-form">
              <input type="hidden" name="playlistsong_name" id="playlistsong_name" value="" />
              <input type="hidden" name="playlistartist_name" id="playlistartist_name" value="" />
              <button type="submit"><%= playlist.name %></button>
            </form>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        <p>No playlists found. Create a new playlist!</p>
        <% } %>
      </div>
      <button onclick="window.location.href='./playlists/create'">Create New Playlist</button>
      <button onclick="document.getElementById('playlistBox').style.display='none'">Close</button>
    </div>

    <!-- Go Back Button -->
    <button  id="go-back-btn" onclick="window.location.href='<%= basePath %>/'">Go Back</button>

    <script src="/js/songTable.js"></script>   
  </body>
</html>
